/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(254, 254, 254) rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(128, 129, 129);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
}
